.app__playerdetail {
  width: 100%;
  padding: 4rem 0;
  color: var(--color-text-one);
}

.app__playerdetail-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__playerdetail-image {
  font-size: 272px;
  padding: 4rem 0 4rem 0;
}

.app__playerdetail-strip {
  height: 480px;
  width: 2px;
  background: var(--color-black);
  margin: 0 4rem;
}

.app__playerdetail-description {
  display: flex;
  flex-direction: column;
}

.app__playerdetail-description h1 {
  font-size: 16px;
  font-weight: 400;
}

.app__playerdetail-description h2 {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 6px;
}

.app__playerdetail-explain {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 0;
}

.app__playerdetail-explain hr {
  height: 2px;
  width: 360px;
  margin: 4px 0;
}

.app__playerdetail-explain-all h3 {
  font-size: 14px;
  margin: 4px 0;
  font-weight: 400;
}

.app__playerdetail-explain-all h4 {
  font-size: 12px;
  padding-left: 10px;
  font-weight: 400;
}

.app__playerdetail-mobile-back {
  display: none;
}

@media screen and (max-width: 1150px) {
  .app__playerdetail-mobile-back {
    display: flex;
    position: absolute;
    top: 140px;
    left: 20px;
    font-size: 32px;
    color: rgb(161, 5, 5);
  }
}

@media screen and (max-width: 650px) {
  .app__playerdetail-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .app__playerdetail-image {
    font-size: 242px;
    padding: 0;
  }

  .app__playerdetail-strip {
    height: 1px;
    width: 90%;
    margin: 0 0 2rem;
    background: var(--color-text-one);
  }

  .app__playerdetail-explain {
    width: 80%;
  }

  .app__playerdetail-explain hr {
    height: 2px;
    width: 360px;
    margin: 0 0 2rem;
  }

  .app__playerdetail-explain-all h3 {
    font-size: 14px;
    margin: 4px 0;
    font-weight: 400;
  }

  .app__playerdetail-explain-all h4 {
    font-size: 12px;
    padding-left: 10px;
    font-weight: 400;
  }

  .app__playerdetail-mobile-back {
    display: flex;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    color: rgb(161, 5, 5);
  }
}
