.app__players {
  position: relative;
  width: 100%;
  padding: 8rem 0 4rem;
  color: var(--color-text-one);
}

.app__players h1 {
  text-align: center;
  padding: 0 0 2rem;
  font-size: 40px;
  font-weight: 500;
}

.app__players h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 600px;
  margin: 0 auto;
  background: var(--color-text-one);
}

.app__players-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.app__players-card {
  height: 280px;
  width: 220px;
  border: 1px solid var(--color-black);
  margin: 1.2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.app__players-card:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px var(--color-blue);
  border: none;
}

.app__players-card h2 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.app__players-icon {
  font-size: 152px;
}

.app__players-counter-page {
  width: 35%;
  margin: 4rem auto 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app__players-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.app__players-arrow {
  font-size: 24px;
  cursor: pointer;
}

.app__players-counter-main {
  margin: 0 2rem;
  font-size: 32px;
}

.app__players-counter-main::after {
  background: var(--color-text-one);
  content: "";
  display: block;
  height: 2px;
  width: 100%;
}

/* SERACH PANEL */
.app__players-search-panel {
  background: var(--color-blue);
  position: absolute;
  height: 80px;
  width: 100%;
  top: -400px;
  z-index: 0;
  box-shadow: 2px 0 20px var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__players-search-input {
  border: 1px solid var(--color-white);
  border-radius: 20px;
  height: 40px;
  width: 320px;
  outline: none;
  font-size: 16px;
  padding-left: 1.2rem;
}

.app__players-search-input:focus {
  box-shadow: 0px 0px 8px var(--color-white);
}

.app__players-search-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 2rem;
  border: 1px solid var(--color-white);
  border-radius: 20px;
  height: 40px;
  width: 160px;
  font-size: 16px;
  cursor: pointer;
}

.app__players-search-icon {
  margin: 0 1rem 0 1.2rem;
  font-size: 24px;
}

.app__players-wysun {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app__players-wysun-group h1 {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.app__players-wysun-group h1::after {
  display: none;
}

.app__players-wysun-group-icon {
  font-size: 32px;
}

@media screen and (max-width: 650px) {
  .app__players h1 {
    font-size: 24px;
  }

  .app__players h1::after {
    width: 90%;
  }

  .app__players-card {
    height: 220px;
    width: 160px;
    border: 1px solid var(--color-black);
    margin: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }

  .app__players-card:hover {
    display: none;
  }

  .app__players-card h2 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  .app__players-card h3 {
    font-size: 16px;
  }
  .app__players-icon {
    font-size: 112px;
  }

  .app__players-counter-page {
    width: 80%;
  }

  .app__players-counter {
    font-size: 24px;
  }

  .app__players-arrow {
    font-size: 32px;
    cursor: pointer;
  }

  .app__players-counter-main {
    margin: 0 1rem;
    font-size: 32px;
  }

  .app__players-counter-main::after {
    background: var(--color-text-one);
    content: "";
    display: block;
    height: 2px;
    width: 100%;
  }

  /* SERACH PANEL */
  .app__players-search-panel {
    height: 180px;
    top: -600px;
    flex-direction: column;
  }

  .app__players-search-input {
    border-radius: 30px;
    height: 50px;
    padding-left: 1.6rem;
  }

  .app__players-search-input:focus {
    box-shadow: 0px 0px 8px var(--color-white);
  }

  .app__players-search-btn {
    margin: 1.2rem 0 0;
    border-radius: 24px;
    height: 44px;
  }

  .app__players-wysun-group h1 {
    font-size: 16px;
  }

  .app__players-wysun-group-icon {
    font-size: 24px;
  }
}
