.app__games {
  width: 100%;
  color: var(--color-text-one);
  padding: 4rem 0;
}

.app__games h1 {
  text-align: center;
  padding: 0 0 2rem;
  font-size: 40px;
  font-weight: 500;
}

.app__games h1::after {
  content: "";
  display: block;
  height: 2px;
  width: 600px;
  margin: 0 auto;
  background: var(--color-text-one);
}

.app__games-content {
  width: 80%;
  margin: 0 auto;
}

.app__game-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 2.4rem;
}

.app__games-screen {
  width: 100%;
  border: 3px solid var(--color-black);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app__games-home_team {
  flex: 1;
  text-align: center;
}

.app__games-home_team h2 {
  font-size: 24px;
  font-weight: 400;
}

.app__games-result {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__games-result h3,
.app__games-result h4 {
  padding: 1rem 0.5rem;
  font-size: 40px;
  font-weight: 400;
}

.app__games-home_team {
  flex: 1;
  text-align: center;
}

.app__games-info {
  width: 280px;
  height: 60px;
  border-left: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  border-right: 2px solid var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__games-info h3 {
  font-size: 16px;
  font-weight: 500;
}

.app__games-more {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.app__games-more-icon {
  font-size: 24px;
}
