.app__footer {
  position: relative;
  width: 100%;
  background: var(--color-blue);
}

.app__footer-content {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
  color: var(--color-white);
}

.app__footer-content h1 {
  font-size: 24px;
  font-weight: 400;
}

.app__footer-content h2 {
  font-size: 16px;
  font-weight: 400;
  padding-top: 0.2rem;
}

.app__footer-content h3 {
  font-size: 12px;
  font-weight: 300;
}

.app__footer-content img {
  padding: 1rem;
}

.app__footer-icons {
  padding: 1rem;
}

.app__footer-icon {
  font-size: 18px;
  margin: 1rem 1.6rem;
}

@media screen and (max-width: 650px) {
  .app__footer {
    width: 100vw;
  }

  .app__footer-content {
    width: 60vw;
  }

  .app__footer-content h1 {
    font-size: 16px;
  }

  .app__footer-content h2 {
    font-size: 12px;
  }

  .app__footer-content h3 {
    font-size: 8px;
  }

  .app__footer-content img {
    padding: 1rem 0;
  }

  .app__footer-icons {
    padding: 1rem 0;
  }

  .app__footer-icon {
    font-size: 16px;
    margin: 0.6rem 1rem;
  }
}
