@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap");

:root {
  --color-text-one: #4f4f4f;
  --color-white: #fff;
  --color-red: #c8102e;
  --color-blue: #1d428a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

br {
  display: none;
}
