.app__nav {
  background: var(--color-red);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 1;
}

.app__nav-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__nav-logo img {
  transform: scale(0.8);
  margin-left: 1.5rem;
  border-radius: 6px;
}

.app__nav-logo img:hover {
  box-shadow: 2px 2px 20px 2px var(--color-blue);
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: var(--color-white);
}

.app__navbar-links li {
  margin: 0 2rem;
  cursor: pointer;
}

.app__navbar-links li::after {
  content: "";
  background: var(--color-blue);
  display: block;
  height: 2px;
  width: 0;
  transition: 0.5s;
  margin: auto;
}

.app__navbar-links li:hover::after {
  width: 100%;
}

.app__navbar-mobile {
  display: none;
}

.app__nav-menu {
  display: none;
}

.app__nav-x {
  display: none;
}

.app__nav-menu-icon {
  display: none;
}

@media screen and (max-width: 1150px) {
  .app__nav-menu {
    display: none;
  }

  .app__nav-x {
    display: none;
  }

  .app__nav-menu-icon {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .app__nav {
    position: fixed;
    top: 0;
    left: 100vw;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 1;
  }

  .app__nav-logo {
    display: none;
  }

  .app__navbar-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .app__navbar-links li {
    margin: 2rem 0;
    cursor: pointer;
  }

  .app__navbar-links li::after {
    display: none;
  }

  .app__navbar-links li:hover::after {
    display: none;
  }

  .app__navbar-mobile {
    display: flex;
  }

  .app__nav-icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .app__nav-menu {
    display: flex;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
  }

  .app__nav-x {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
  }

  .app__nav-menu-icon {
    display: flex;
  }
}
